* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

body > #app-main {
    /* flex */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px;
}

body > #app-main >#app1,
#app2,
#app3,
#app4 {
    border: 1px solid green;
    width: 50%;
    height: 25vw;
}

@media (max-width: 500px) {

    body > #app-main >.#app1,
    #app2,
    #app3,
    #app4 {
        width: 100%;
        height: 35vw;
    }
}